.gandu{
height:50px;
width:350px;
margin: auto auto;
justify-content: center;
background: linear-gradient(90deg, rgb(18,92,255) 0%, rgb(0, 102,255) 100%);
font-size:25px;
cursor: pointer;
transition: transform 150ms;
border-radius: 4px;
box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
}

.sad{
margin-top:0;
color: #ffff;
text-align: center;
font-size:25px;
}

.gandu:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}
